@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    font-size: 13px;
    font-family: Helvetica,arial,tahoma,"宋体",sans-serif;
}
ul,li,ol{
    list-style: none;
}
.clearHeight:after{
    content:"";
    clear:both;
    display: block;
}
.popTitle{
    display: inline-block;
    width:7rem;
    text-align: right;
}
.popBox{
    width:100%;
    box-sizing: border-box;
    font-family: MicrosoftYaHei;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    color: #444444;
}
.tabBox{
    width: 95%;
    height:70px;
    padding:10px 0;
    /* border-bottom: 1px solid #E6E6E6; */
    margin: 0 auto;
}
.tabBox p{
    margin-left:10px;
    font-weight: bold;
}
.tabBox ul{
    margin-top: 5px;
}
.tabBox li{
    box-sizing: border-box;
    width: 85px;
    height: 30px;
    line-height: 26px;
    margin-left: 5px;
    float:left;
    border-radius: 35px;
    text-align: center;
    cursor:pointer;
    border:1px solid #c0c0c0;
}
.tabBox li.tabActive{
    color:#FFF;
    background-color: #4da0fb;
    border:1px solid #4da0fb;
}
.minCoin i{
    display: inline-block;
    width:15px;
    height:15px;
    vertical-align: sub;
}
.wrBox {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 0 20px;
}
.updateTime{

}
.myTitle{
    font-weight: bold;
}
.hdBox{
    height:70px;
    border-bottom: 2px solid #EEC63C;
    background-color: #fff6d8;
    border-radius: 1px;
    padding-top: 5px;
}
.hdTitle{
    font-size: 20px;
    padding-left:20%;
}
.hdBox p,.hdBox span{
    color: #8b6c03;
}
.jyBox{
    padding-left:10%;
}
.ndBox{
    margin-top:5px
}
.ndBox>div{
    width:48.5%;
    height:70px;
    float: left;
    border-radius: 1px;
    padding-top: 5px;
}
.ndzBox{
    border-bottom: 2px solid #39aac3;
    background-color: #d7f5fa;
    color: #097b90;
}
.ndzTitle,.wrwTitle{
    font-size: 18px;
    padding-left: 25%;
}
.ndzNum{
    font-size:20px;
    font-weight: bold;
}
.ndzMinBox{
    padding-left: 30%;
}
.wrwMinBox{
    padding-left: 38%;
}
.wrwBox{
    color: #256bc6;
    margin-left:3%;
    border-bottom: 2px solid #66a2f0;
    background-color: #dfe9f7;
}
.chartTitleBox i{
    display: inline-block;
    width:15px;
    height:15px;
    background: url("../img/pop2/tCoin.jpg") no-repeat;
    background-size: 100% 100%;
	vertical-align: sub;
}
.chartTitleBox span{
    color: #333333;
    font-weight: bold;
}
.wrLineChart{
    width:100%;
    height:130px;
}